# Add plugins here
# code hosting services
sentry-github
sentry-gitlab
sentry-bitbucket
# messaging clients
sentry-irc
sentry-slack
sentry-hipchat
# bug tracking
sentry-jira
sentry-trello
sentry-pivotal
# webhooks
sentry-webhooks
